:root {


    //LAYOUT
/*     primary
    info
    success
    warning
    critical
    bug */


    --COLOR-PRIMARY: 26, 92, 255;
    --COLOR-INFO: 92, 172, 226;
    --COLOR-SUCCESS: 70, 201, 58;
    --COLOR-WARNING: 255, 185, 5;
    --COLOR-DANGER: 255, 64, 58;
    --COLOR-BUG: 192, 57, 43;
    --COLOR-DARK: var(--COLOR-LEVEL-0);
    --COLOR-LIGHT: var(--COLOR-LEVEL-4);
    --COLOR-BASE: 17,18,20;



    [class*="--primary"] {
        --COLOR-BASE: var(--COLOR-PRIMARY);
    }
    
    [class*="--default"] {
        --COLOR-BASE: var(--COLOR-PRIMARY);
    }

    [class*="--info"] {
        --COLOR-BASE: var(--COLOR-INFO);
    }

    [class*="--success"] {
        --COLOR-BASE: var(--COLOR-SUCCESS);
    }

    [class*="--warning"] {
        --COLOR-BASE: var(--COLOR-WARNING);
    }
    
    [class*="--danger"] {
        --COLOR-BASE: var(--COLOR-DANGER);
    }

    [class*="--bug"] {
        --COLOR-BASE: var(--COLOR-BUG);
    }
    
    [class*="--dark"] {
        --COLOR-BASE: var(--COLOR-DARK);
    }
    
    [class*="--light"] {
        --COLOR-BASE: var(--COLOR-LIGHT);
    }

    [class*="--level-0"] {
        --COLOR-BASE: var(--COLOR-LEVEL-0);
    }
    [class*="--level-1"] {
        --COLOR-BASE: var(--COLOR-LEVEL-1);
    }
    [class*="--level-2"] {
        --COLOR-BASE: var(--COLOR-LEVEL-2);
    }
    [class*="--level-3"] {
        --COLOR-BASE: var(--COLOR-LEVEL-3);
    }
    [class*="--level-4"] {
        --COLOR-BASE: var(--COLOR-LEVEL-4);
    }

    --COLOR-TEXT: 44, 62, 80;
    --COLOR-LEVEL-0: 244, 247, 248;
    --COLOR-LEVEL-1: 249, 252, 253;
    --COLOR-LEVEL-2: 249, 252, 253;
    --COLOR-LEVEL-3: 240, 243, 244;
    --COLOR-LEVEL-4: 230, 233, 234;


    --COLOR-RED: #d53131;
    --COLOR-RED-ORANGE: rgb(224, 78, 45);
    --COLOR-ORANGE: rgb(237, 101, 33);
    --COLOR-ORANGE-YELLOW: rgb(252, 158, 23);
    --COLOR-YELLOW: rgb(252, 193, 61);
    --COLOR-LIGHT-GREEN: rgb(119, 198, 115);
    --COLOR-GREEN: rgb(82, 160, 77);
    --COLOR-DARK-GREEN: rgb(20, 117, 52);
    --COLOR-DARK-TEAL: rgb(25, 91, 94);
    --COLOR-TEAL: rgb(40, 135, 127);
    --COLOR-LIGHT-TEAL: rgb(69, 189, 157);
    --COLOR-LIGHT-BLUE: rgb(84, 169, 211);
    --COLOR-BLUE: rgb(38, 132, 255);
    --COLOR-DARK-BLUE: rgb(30, 95, 144);
    --COLOR-DARK-PURPLE: rgb(93, 61, 156);
    --COLOR-PURPLE: rgb(124, 95, 178);
    --COLOR-LIGHT-PURPLE: rgb(191, 137, 219);


    

}