[gnk-theme="dark"] {


    --COLOR-PRIMARY: 26, 92, 255;
    --COLOR-WARN: 255, 185, 5;
    --COLOR-DANGER: 255, 64, 58;
    --COLOR-SUCCESS: 70, 201, 58;
    --COLOR-DARK: var(--COLOR-LEVEL-0);
    --COLOR-LIGHT: var(--COLOR-LEVEL-4);
    --COLOR-BASE: 17,18,20;

    --COLOR-TEXT: 255, 255, 255;
    
    --COLOR-LEVEL-0:  0, 0, 0;    
    --COLOR-LEVEL-1: 30, 32, 35;
    --COLOR-LEVEL-2: 20, 20, 23;
    --COLOR-LEVEL-3: 15, 16, 19;
    --COLOR-LEVEL-4: 10, 11, 14;

    --SHADOW-OPACITY: 0.30;
    --BACKGROUND-OPACITY: 0.60;



    .gnk-ripple {
        --COLOR-BASE: 0, 0, 0;
    }

/* 
    .gnk-pagination-content {
        &.gnk-component-dark {
            .gnk-pagination__active {
                vs-color: 255, 255, 255;
                color: -color('LEVEL-3');
            }
        }
    }

    .gnk-loading {
        vs-background: 0, 0, 0;
    }

    .gnk-input-parent--state-dark {
        vs-dark: 255, 255, 255 !important;

        .gnk-input {
            background: #000 !important;
        }
    }

    .gnk-component-dark {
        vs-color: 0, 0, 0 !important;

        .gnk-avatar {
            color: #fff !important;
        }

        &.gnk-alert {
            vs-color: 0, 0, 0 !important;
            background: -color('color', 1) !important;
            color: -color('text', 1) !important;
        }
    } */
} 