@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    //FONTS
    --FONT-FAMILY: 'Roboto',
    sans-serif; //'Montserrat', sans-serif;
    --FONT-ICON: "FontAwesome";
    --FONT-ICON-SOLID: "FontAwesome solid";
    --FONT-SIZE: 14px;
    --LINE-HEIGHT: 2;

    --FONT-WEIFHT-LIGHT: 300;
    --FONT-WEIFHT-REGULAR: 400;
    --FONT-WEIFHT-HEAVY: 700;

}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}


.font-light {
    font-weight: var(--FONT-WEIFHT-LIGHT);
}

.font-regular {
    font-weight: var(--FONT-WEIFHT-REGULAR);
}

.font-heavy {
    font-weight: var(--FONT-WEIFHT-HEAVY);
}

// utility

.text-hide {
    background: transparent;
    border: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
}

.text-assistive {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

// Text transform utilities
.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

// Text style utilities
.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-large {
    font-size: 1.2em;
}

.text-small {
    font-size: .9em;
}

.text-tiny {
    font-size: .8em;
}

.text-muted {
    opacity: .8;
}

// Text overflow utilities
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-clip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.text-break {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}