[gnk-theme-colorMode="dark"] {


    --LIGHT-COLOR: 20%;
    --COLOR-PRIMARY-H: 214;
    --COLOR-PRIMARY-S: 100%;
    --COLOR-PRIMARY-L: calc(55% - var(--LIGHT-COLOR));

    --COLOR-INFO-H: 204;
    --COLOR-INFO-S: 70%;
    --COLOR-INFO-L: calc(62% - var(--LIGHT-COLOR));

    --COLOR-SUCCESS-H: 151;
    --COLOR-SUCCESS-S: 70%;
    --COLOR-SUCCESS-L: calc(51% - var(--LIGHT-COLOR));

    --COLOR-WARNING-H: 39;
    --COLOR-WARNING-S: 100%;
    --COLOR-WARNING-L: calc(50% - var(--LIGHT-COLOR));

    --COLOR-DANGER-H: 2;
    --COLOR-DANGER-S: 100%;
    --COLOR-DANGER-L: calc(61% - var(--LIGHT-COLOR));

    --COLOR-BUG-H: 0;
    --COLOR-BUG-S: 100%;
    --COLOR-BUG-L: calc(57% - var(--LIGHT-COLOR));

    --COLOR-DARK-H: var(--COLOR-LEVEL-0-H);
    --COLOR-DARK-S: var(--COLOR-LEVEL-0-S);
    --COLOR-DARK-L: var(--COLOR-LEVEL-0-L);

    --COLOR-LIGHT-H: var(--COLOR-LEVEL-4-H);
    --COLOR-LIGHT-S: var(--COLOR-LEVEL-4-S);
    --COLOR-LIGHT-L: var(--COLOR-LEVEL-4-L);

    --COLOR-BASE-H: 220;
    --COLOR-BASE-S: 8%;
    --COLOR-BASE-L: 7%;

    --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
    --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
    --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);

    --COLOR-TEXT-H: 0;
    --COLOR-TEXT-S: 0%;
    --COLOR-TEXT-L: 100%;
    
    
    --COLOR-LEVEL-0-H: 0;
    --COLOR-LEVEL-0-S: 0%;
    --COLOR-LEVEL-0-L: 0%;

    --COLOR-LEVEL-1-H: 0;
    --COLOR-LEVEL-1-S: 0%;
    --COLOR-LEVEL-1-L: 8%;

    --COLOR-LEVEL-2-H: 0;
    --COLOR-LEVEL-2-S: 0%;
    --COLOR-LEVEL-2-L: 11%;
    
    --COLOR-LEVEL-3-H: 0;
    --COLOR-LEVEL-3-S: 0%;
    --COLOR-LEVEL-3-L: 16%;

    --COLOR-LEVEL-4-H: 0;
    --COLOR-LEVEL-4-S: 0%;
    --COLOR-LEVEL-4-L: 20%;

    --BOX-SHADOW: unset;


    .gnk-ripple {
        --COLOR-BASE-H: 0;
        --COLOR-BASE-S: 0%;
        --COLOR-BASE-L: 0%;
    }

    [class*="--primary"] {
        --COLOR-BASE-H: var(--COLOR-PRIMARY-H);
        --COLOR-BASE-S: var(--COLOR-PRIMARY-S);
        --COLOR-BASE-L: var(--COLOR-PRIMARY-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--default"] {
        --COLOR-BASE-H: var(--COLOR-PRIMARY-H);
        --COLOR-BASE-S: var(--COLOR-PRIMARY-S);
        --COLOR-BASE-L: var(--COLOR-PRIMARY-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--info"] {
        --COLOR-BASE-H: var(--COLOR-INFO-H);
        --COLOR-BASE-S: var(--COLOR-INFO-S);
        --COLOR-BASE-L: var(--COLOR-INFO-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--success"] {
        --COLOR-BASE-H: var(--COLOR-SUCCESS-H);
        --COLOR-BASE-S: var(--COLOR-SUCCESS-S);
        --COLOR-BASE-L: var(--COLOR-SUCCESS-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--warning"] {
        --COLOR-BASE-H: var(--COLOR-WARNING-H);
        --COLOR-BASE-S: var(--COLOR-WARNING-S);
        --COLOR-BASE-L: var(--COLOR-WARNING-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--danger"] {
        --COLOR-BASE-H: var(--COLOR-DANGER-H);
        --COLOR-BASE-S: var(--COLOR-DANGER-S);
        --COLOR-BASE-L: var(--COLOR-DANGER-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--bug"] {
        --COLOR-BASE-H: var(--COLOR-BUG-H);
        --COLOR-BASE-S: var(--COLOR-BUG-S);
        --COLOR-BASE-L: var(--COLOR-BUG-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--dark"] {
        --COLOR-BASE-H: var(--COLOR-DARK-H);
        --COLOR-BASE-S: var(--COLOR-DARK-S);
        --COLOR-BASE-L: var(--COLOR-DARK-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }

    [class*="--light"] {
        --COLOR-BASE-H: var(--COLOR-LIGHT-H);
        --COLOR-BASE-S: var(--COLOR-LIGHT-S);
        --COLOR-BASE-L: var(--COLOR-LIGHT-L);

        --COLOR-BASE-TEXT-H: var(--COLOR-TEXT-H);
        --COLOR-BASE-TEXT-S: var(--COLOR-TEXT-S);
        --COLOR-BASE-TEXT-L: var(--COLOR-TEXT-L);
    }
/* 
    .gnk-pagination-content {
        &.gnk-component-dark {
            .gnk-pagination__active {
                vs-color: 255, 255, 255;
                color: -color('LEVEL-3');
            }
        }
    }

    .gnk-loading {
        vs-background: 0, 0, 0;
    }

    .gnk-input-parent--state-dark {
        vs-dark: 255, 255, 255 !important;

        .gnk-input {
            background: #000 !important;
        }
    }

    .gnk-component-dark {
        vs-color: 0, 0, 0 !important;

        .gnk-avatar {
            color: #fff !important;
        }

        &.gnk-alert {
            vs-color: 0, 0, 0 !important;
            background: -color('color', 1) !important;
            color: -color('text', 1) !important;
        }
    } */
} 