
:root{

    --SHADOW-OPACITY: 0.05;
    --BACKGROUND-OPACITY: 0.20;

    --BORDER-RADIUS: 12px;
    --BORDER-SIZE: 1px;

    --BLUR-OPACITY: 0.5;
    --BLUR: blur(25px);

    --TOP-Z-INDEX: 99999;

} 