
//MIXINGS
@function -color($color, $alpha: 1, $H: 0, $S: 0, $L: 0) {
    @return unquote('hsla(calc(var(--COLOR-#{$color}-H) + #{$H}),calc(var(--COLOR-#{$color}-S) + #{$S}%),calc(var(--COLOR-#{$color}-L) + #{$L}%), #{$alpha})');
};


@function -status($var) {
    @return unquote('var(--COLOR-#{$var})');
};


$breakpoints: ("phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248000px,
    "desktop-wide": 1440px);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@for $i from 1 through 10 {
    .--Z-INDEX-#{$i} {
        z-index: calc( 100000 -  #{$i}0000) !important;
    }
}