
//MIXINGS
@function -color($color, $alpha: 1, $H: 0, $S: 0, $L: 0) {
    //@return  unquote('hsla(calc(var(--COLOR-#{$color}-H) + #{$H}), calc(var(--COLOR-#{$color}-S) + #{$S}),calc(var(--COLOR-#{$color}-L) + #{$L}),#{$alpha})');

    @return unquote('hsla(calc(var(--COLOR-#{$color}-H) + #{$H}),calc(var(--COLOR-#{$color}-S) + #{$S}%),calc(var(--COLOR-#{$color}-L) + #{$L}%), #{$alpha})');
};



@mixin defineColorHSL($color, $hue, $saturation, $lightness){
    #{$color}: unquote("hsl(#{$hue}, #{$saturation}, #{$lightness})");#{$color}-H: #{$hue};#{$color}-S: #{$saturation};#{$color}-L: #{$lightness};
}


@function alpha($color, $alpha: 1, $H: 0, $S: 0, $L: 0){
    
    $color: str-replace($color, 'var(');
    $color: str-replace($color, ')');
    $color-h: var(#{$color+'-h'});
    $color-s: var(#{$color+'-s'});
    $color-l: var(#{$color+'-l'});
    @return hsla(calc($color-h + $H), calc($color-s + $S), calc($color-l + $L), $alpha);

}

// replace substring with another string
// credits: https://css-tricks.com/snippets/sass/str-replace-function/
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}















@function -textcontrast($baseL,$p){
    @if($baseL < 50%){
        @return unquote('var(--COLOR-MAIN-TEXT-#{$p})');
    }
    @else{
        @return unquote('var(--COLOR-CONTRAST-TEXT-#{$p})');
    }
}


@function -status($var) {
    @return unquote('var(--COLOR-#{$var})');
};

$breakpoints: ("phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-ultra-wide": 10000000000000px);

@mixin mq($val1, $val2: 0px , $type: min) {
    @if map_has_key($breakpoints, $val1) {

        $valOne: map_get($breakpoints, $val1);
        $valTwo: map_get($breakpoints, $val2);

        @if $type==minmax {
            @media only screen and (max-width: $valOne) and (min-width: $valTwo) {
                @content;
            }

        }@else if $type==max {
            
            $valOne: calc($valOne - 1px);
            @media only screen and (max-width: $valOne) and (min-width: 0px) {
                @content;
            }

        }@else if $type==min {
            @media only screen and (min-width: $valOne) and (max-width: 100vmax) {
                @content;
            }
        }

    }
}
