
@import     'base/mixings/_mixings.scss', 
            'base/theme/_vars.scss',
            'base/theme/_colors.scss',
            'base/theme/_dark.scss',
            'base/theme/_fonts.scss',
            'base/ripple/_ripple.scss',
            'base/vendor/_vendor.scss',
            'base/grid/_grid.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    accent-color: -color('primary');
    caret-color:  -color('primary');
    

}

html,
body{
    height: 100%;
    width: 100%;
    display: block;

    background-color: -color('LEVEL-0') !important;
    color: -color('MAIN-TEXT');
    font-family: var(--FONT-FAMILY);
    font-size: var(--FONT-SIZE);
    line-height: var(--LINE-HEIGHT);
    text-align: justify;
    transition: background-color 0.4s ease, color 0.2s ease;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

#app{
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

 








